.container-150 {
    min-width: 150px;
}

.m-0 {
    margin: 0;
}

.my-1 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mb-2 {
    margin-bottom: 10px;    
}

.py-2 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.py-3 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.px-3 {
    padding-left: 16px;
    padding-right: 16px;
}

.px-4 {
    padding-left: 32px;
    padding-right: 32px;
}

.hidden {
    display: none;
}

.resize-y {
    resize: vertical;
}

.text-red {
    color: red;
}

.text-dark-red {
    color: darkred;
}

.text-center {
    text-align: center;
}
